<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arunkbabu.care">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ViewPictureActivity"></activity>
        <activity android:name=".activities.ViewProfileActivity" />
        <activity android:name=".activities.ViewPatientReportActivity" />
        <activity android:name=".activities.DoctorActivity" />
        <activity android:name=".activities.SearchResultsActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ViewDoctorReportActivity" />
        <activity android:name=".activities.OtherUntowardActivity" />
        <activity android:name=".activities.PatientActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AccountVerificationActivity" />
    </application>

</manifest>