<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="arunkbabu.care">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LicensesActivity"
            android:parentActivityName=".activities.AboutActivity"/>

        <activity android:name=".activities.AboutActivity" />
        <activity
            android:name=".activities.SearchDoctorActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.ViewPictureActivity" />
        <activity android:name=".activities.ViewProfileActivity" />
        <activity android:name=".activities.ViewPatientReportActivity" />
        <activity
            android:name=".activities.DoctorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ViewDoctorReportActivity" />
        <activity
            android:name=".activities.OtherUntowardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.PatientActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AccountVerificationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="arunkbabu.care.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_path" />
        </provider>
    </application>

</manifest>